<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>
    <%=title%>
  </title>
  <link rel="shortcut icon" href="/favicon.ico">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
  <link href="/stylesheets/mdb.min.css" rel="stylesheet">
  <!-- <link href="/stylesheets/style.css" rel="stylesheet"> -->
  <style>
    section#info-section {
      padding-top: 50px;
    }

    .isactive {
      color: #4285F4;
    }

    .Styled {
      margin-left: 6vw;
      padding-top: 50px;
    }

    .active {
      background-color: #4285F4;
    }

    p {
      font-weight: bold;
    }
  </style>
</head>

<body>
  <header>

    <nav class="mb-1 navbar navbar-expand-lg navbar-dark amber">
      <div class="container">
        <a class="navbar-brand" href="/">Student Records</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4" aria-controls="navbarSupportedContent-4"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link waves-effect waves-light" href="/">
                <i class="fa fa-envelope"></i> Home </a>
            </li>
            <li class="nav-item">
              <a class="nav-link waves-effect waves-light" href="/student">
                <i class="fa fa-address-book-o"></i> All Students
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link waves-effect waves-light" href="/student/add">
                <i class="fa fa-user-circle-o"></i>Add Student</a>
            </li>
          </ul>

        </div>
      </div>
    </nav>
  </header>

  <section id="info-section">
    <div class="container wow fadeInLeft data-wow-delay=" 0.3s "">
      <div class="jumbotron">
        <ol class="breadcrumb">
          <li class="breadcrumb-item isactive">
            <a href="/student">View All Student</a>
          </li>
          <li class="breadcrumb-item">Single Student</li>
        </ol>
        <div style="padding:20px;"></div>

        <div class="row">
          <div class="col-md-9">
            <h1 class="text-center">
              <span class="badge red">
                <%=singleStudent.firstName%>
                  <%=singleStudent.lastName%>
              </span> Record View

            </h1>
            <div class="Styled">

              <table class="table table-bordered table-responsive">
                <tbody>
                  <tr>
                    <td>
                      <p>
                        <span style="color:black; font-weight:400">Name :</span>
                      </p>
                    </td>
                    <td>
                      <p>
                        <%=singleStudent.firstName%>
                          <%=singleStudent.lastName%>
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <p>
                        <span style="color:black; font-weight:400">Email :</span>
                      </p>
                    </td>
                    <td>
                      <p>
                        <%=singleStudent.email%>
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <p>
                        <span style="color:black; font-weight:400">Address :</span>
                      </p>
                    </td>
                    <td>
                      <p>
                        <%=singleStudent.address%>
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <p>
                        <span style="color:black; font-weight:400">Phone Number :</span>
                      </p>
                    </td>
                    <td>
                      <p>
                        <%=singleStudent.phoneNumber%>
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <p>
                        <span style="color:black; font-weight:400">Course of Study :</span>
                      </p>
                    </td>
                    <td>
                      <p>
                        <%=singleStudent.course%>
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <p>
                        <span style="color:black; font-weight:400">Date of Birth :</span>
                      </p>
                    </td>
                    <td>
                      <p>
                        <%=singleStudent.dob%>
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <p>
                        <span style="color:black; font-weight:400">Gender :</span>
                      </p>
                    </td>
                    <td>
                      <p>
                        <%=singleStudent.gender%>
                      </p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <p>
                        <span style="color:black; font-weight:400">Current Year :</span>
                      </p>
                    </td>
                    <td>
                      <p>
                        <%=singleStudent.course%> Level
                      </p>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

          </div>
          <div class="col-md-3">
            <img src="<%=singleStudent.profileImage%>" alt="" width="200px">
          </div>
        </div>
        <div style="padding:33px;"></div>
        <div class="text-center">
          <hr class="my-2">
          <div style="padding:33px;"></div>
          <h4>To Edit the student details above, Click on the link below
          </h4>
          <a class="btn btn-primary" href="/student/edit/<%=singleStudent._id%>" role="button">
            <i class="fa fa-edit" aria-hidden="true"></i> Edit</a>
        </div>
      </div>
  </section>



  <footer class="footer text-center" style="background-color: #ffc107;">
    <p style="margin : 0; padding : 5px;">Made With 💖 by Ipaye Alameen</p>
  </footer>
</body>

<!-- SCRIPTS -->
<script type="text/javascript" src="/javascripts/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/javascripts/popper.min.js"></script>
<script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
<script type="text/javascript" src="/javascripts/mdb.min.js"></script>
<script>
  new WOW().init();
</script>
</body>

</html>