<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>
    <%=title%>
  </title>
  <link rel="shortcut icon" href="./favicon.ico">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
  <link href="/stylesheets/mdb.min.css" rel="stylesheet">
  <!-- <link href="/stylesheets/style.css" rel="stylesheet"> -->
  <style>
    section#student-section {
      padding-top: 50px;
    }

    .student-card {
      padding-bottom: 10px;
    }

    .active {
      background-color: #4285F4;
    }
  </style>
</head>

<body>
  <header>
    <nav class="mb-1 navbar navbar-expand-lg navbar-dark amber">
      <div class="container">
        <a class="navbar-brand" href="/">Student Records</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4" aria-controls="navbarSupportedContent-4"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link waves-effect waves-light" href="/">
                <i class="fa fa-home"></i> Home </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link waves-effect waves-light" href="/student">
                <i class="fa fa-address-book-o"></i> All Students
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link waves-effect waves-light" href="/student/add">
                <i class="fa fa-user-circle-o"></i>Add Student</a>
            </li>
          </ul>

        </div>
      </div>
    </nav>
  </header>

  <section id="student-section">
    <div class="container wow fadeInLeft data-wow-delay=" 3s "">
      <%if (success_msg.length > 0) {%>
        <div class="alert alert-success alert-dismissable">
          <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <%= success_msg %>
        </div>
        <%};%>

          <div class="jumbotron">
            <h3 style="padding:10px;">All Student Records</h3>
            <div class="row">
              <%students.forEach(function(student, index){%>
                <div class="col-xs-6 col-md-4 student-card">
                  <div class="card">
                    <p class="card-header amber lighten-1 black-text">
                      Student Name:
                      <%=student.firstName%>
                        <%=student.lastName%>
                    </p>
                    <div class="card-body">
                      <h4 class="card-title">
                        Student Details
                      </h4>
                      <p class="card-text">Email Address :
                        <%=student.email%>
                      </p>

                      <p class="card-text">
                        Address :
                        <%=student.address%>.</p>
                    </div>
                    <a href="/student/view/<%=student._id%>" class="btn btn-primary btn-rounded">
                      <i class="fa fa-eye" aria-hidden="true"></i> View</a>
                    <a href="/student/edit/<%=student._id%>" class="btn btn-primary btn-rounded">
                      <i class="fa fa-edit" aria-hidden="true"></i> Edit</a>
                  </div>
                </div>
                <%});%>
            </div>
          </div>
    </div>
  </section>


  <footer class="footer text-center" style="background-color: #ffc107;">
    <p style="margin : 0; padding : 5px;">Made With 💖 by Ipaye Alameen</p>
  </footer>
</body>


<!-- SCRIPTS -->
<script type="text/javascript" src="/javascripts/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/javascripts/popper.min.js"></script>
<script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
<script type="text/javascript" src="/javascripts/mdb.min.js"></script>
<script>
  $("#alert-target").click(function () {
    toastr["info"]("I was launched via jQuery!")
  });
  new WOW().init();
</script>
</body>

</html>