<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>
    <%=title%>
  </title>
  <link rel="shortcut icon" href="./favicon.ico">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
  <link href="/stylesheets/mdb.min.css" rel="stylesheet">
  <!-- <link href="/stylesheets/style.css" rel="stylesheet"> -->
  <style>
    section#student-section {
      padding-top: 100px;
    }

    .active {
      background-color: rgba(245, 23, 189, 0.671) !important;
    }

    .trigger {
      padding: 1px 10px;
      font-size: 12px;
      font-weight: 400;
      border-radius: 10px;
      background-color: #eee;
      color: #212121;
      display: inline-block;
      margin: 2px 5px;
    }

    .hoverable,
    .trigger {
      transition: box-shadow 0.55s;
      box-shadow: 0;
    }

    .hoverable:hover,
    .trigger:hover {
      transition: box-shadow 0.45s;
      box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
  </style>
</head>

<body>
  <header>

    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-amber ">
      <div class="container">
        <a class="navbar-brand" href="/">
          <strong>Student Records</strong>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

          <ul class="nav navbar-nav nav-flex-icons ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home
              </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link " href="#">View All Student</a>
              <span class="sr-only">(current)</span>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Add Student</a>
            </li>
            <form class="form-inline">
              <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            </form>
          </ul>
          </ul>
        </div>
      </div>
    </nav>

  </header>

  <div class="container">
    <section id="student-section">
      <div class="container">
      <h1>All Students Records</h1>
      <div class="modal fade" id="conditionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-notify modal-success" role="document">
          <!--Content-->
          <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
              <p class="heading lead">Modal Success</p>

              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true" class="white-text">&times;</span>
              </button>
            </div>

            <!--Body-->
            <div class="modal-body">
              <div class="text-center">
                <i class="fa fa-check fa-4x mb-3 animated rotateIn"></i>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit iusto nulla aperiam blanditiis ad consequatur
                  in dolores culpa, dignissimos, eius non possimus fugiat. Esse ratione fuga, enim, ab officiis totam.
                </p>
              </div>
            </div>

            <!--Footer-->
            <div class="modal-footer justify-content-center">
              <a type="button" class="btn btn-primary-modal">Get it now
                <i class="fa fa-diamond ml-1"></i>
              </a>
              <a type="button" class="btn btn-outline-secondary-modal waves-effect" data-dismiss="modal">No, thanks</a>
            </div>
          </div>
          <!--/.Content-->
        </div>
      </div>
      <!-- Central Modal Success Demo-->

      <!-- Accordion card -->
      <div class="card p-3">

        <table class="table">
          <thead>
            <tr>
              <th>S.No</th>
              <th>FirstName</th>
              <th>LastName</th>
              <th>Email Address</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <%students.forEach(function(student, index){ %>
              <tr>
                <th scope="row">
                  <%=index + 1%>
                </th>
                <a href="#">
                  <td>
                    <%=student.firstName%>
                  </td>
                  <td>
                    <%=student.lastName%>
                  </td>
                  <td>
                    <%=student.email%>
                  </td>
                  <td class="text-left">
                    <a class="trigger info-color text-white" href="/student/<%=student._id%>">
                      <i class="fa fa-eye mx-1"></i>View
                    </a>
                    <a class="trigger teal lighten-4" href="/student/<%=student._id%>">
                      <i class="fa fa-pencil-square mx-1" data-toggle="modal" data-target="#conditionModal"></i>Edit
                    </a>
                    <a class="trigger info-color text-white" href="/student/<%=student._id%>">
                      <i class="fa fa-times mx-1"></i>Delete
                    </a>
                  </td>
              </tr>
              <% }); %>
          </tbody>
        </table>


      </div>
    </div>
    </section>

  </div>


</body>

<!-- SCRIPTS -->
<script type="text/javascript" src="/javascripts/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/javascripts/popper.min.js"></script>
<script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
<script type="text/javascript" src="/javascripts/mdb.min.js"></script>
<script>
  new WOW().init();
</script>
</body>

</html>